#container2 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
}

#container1 {
    float: left;
    width:100%;
    position: relative;
    right: 50%;
}
#col1 {
    float: left;
    width: 65%;
    position: relative;
    left: 52%;
    overflow: hidden;
}
#col2 {
    float: left;
    width: 35%;
    position: relative;
    left:48%;
    overflow: hidden;
}

div {
    display: block;
}